<link rel="apple-touch-icon" sizes="180x180" href="https://github.com/SMGXSCRIPTS/Dam.OS/raw/main/lib/DAM.OS-LOGO_APPLE.png?v=Gv6BXY9gr5">
<link rel="icon" type="image/png" sizes="32x32" href="https://github.com/SMGXSCRIPTS/Dam.OS/raw/main/lib/DAM.OS-LOGO_V4_32x32.png?v=Gv6BXY9gr5">
<link rel="icon" type="image/png" sizes="16x16" href="https://github.com/SMGXSCRIPTS/Dam.OS/raw/main/lib/DAM.OS-LOGO_V4_16x16.png?v=Gv6BXY9gr5">
<link rel="manifest" href="https://progressedd.github.io/blog/images/favicons/site.webmanifest?v=Gv6BXY9gr5">
<link rel="mask-icon" href="https://progressedd.github.io/blog/images/favicons/safari-pinned-tab.svg?v=Gv6BXY9gr5" color="#5bbad5">
<link rel="shortcut icon" href="https://progressedd.github.io/blog/images/favicons/favicon.ico?v=Gv6BXY9gr5">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-config" content="https://progressedd.github.io/blog/images/favicons/browserconfig.xml?v=Gv6BXY9gr5">
<meta name="theme-color" content="#ffffff">
